{% extends 'base.html' %}

{% block title %}Личный дневник{% endblock %}

{% block content %}
<h1 class="mb-4">Мой Agile Diary</h1>
<div class="mb-3">
    <a href="{% url 'add_entry' %}" class="btn btn-dark me-2">Добавить запись</a>
    <a href="{% url 'add_goal' %}" class="btn btn-success">Добавить цель</a>

</div>
<h2>Мои цели на 9 недель</h2>

<div class="list-group">
    {% for goal in goals %}
    <div class="list-group-item">
        <h5>{{ goal.title }}</h5>
        <p>{{ goal.description }}</p>


        <!-- Список задач -->
        <div class="mb-4 pt-3">
            <h5>Список задач</h5>
            <ul class="list-group" id="task-list">
                {% for task in goal.tasks.all %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% if task.status == 'Uncompleted' %}

                    <a href="{% url 'task_complete' task.id %}" class="btn btn-sm btn-outline-success m-1">✅</a>
                    <span class = "flex-grow-1">{{ task.title }}</span>
                    <a href="{% url 'task_del' task.id %}" class="btn btn-sm btn-outline-success">Удалить️</a>

                    {% elif task.status == 'Completed' %}

                    <a href="{% url 'task_uncomplete' task.id %}" class="btn btn-sm btn-outline-success m-1">✖️</a>
                    <span class = "flex-grow-1"><del>{{ task.title }} </del></span>
                    <a href="{% url 'task_del' task.id %}" class="btn btn-sm btn-outline-success">Удалить️</a>

                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Форма для добавления новой задачи -->
        <div class="card mt-4">
            <div class="card-body">
                <form id="task-form" , action="{% url 'task_add' %}" method="post">
                    {% csrf_token %}
                    {{ task_form.as_p }}
                    <input type="hidden" name='project' value="{{ goal.id }}">
                    <button type="submit" class="btn btn-dark">Добавить задачу</button>
                </form>
            </div>
        </div>


        <div class="mb-4 pt-3">
            {% if not goal.is_completed %}
            <figcaption class="blockquote-footer">Задача не выполнена</figcaption>
            <a href="{% url 'mark_goal_as_completed' goal.id %}" class="btn btn-success btn-sm">Выполнить</a>
            {% elif not goal.is_uncompleted %}
            <figcaption class="blockquote-footer">Задача выполнена</figcaption>
            <a href="{% url 'mark_goal_as_uncompleted' goal.id %}" class="btn btn-secondary btn-sm">Вернуть в работу</a>
            {% endif %}
            {% if not goal.is_archived %}
            <a href="{% url 'archive_goal' goal.id %}" class="btn btn-warning btn-sm">В архив</a><br>
            {% endif %}
            <a href="{% url 'goal_edit' goal.id %}">Редактировать</a>
        </div>
    </div>
    {% empty %}
    <p>Записей пока нет.</p>
    {% endfor %}
</div>

<div class="container"><h3>Планирование и итоги дня</h3></div>
{% for entry in page_obj %}


<div class="container">
    <div class="p-3 border bg-light">
        <h5 class="card-title"> Дата: {{ entry.date }} </h5>
        <a href="{% url 'entry_edit' entry.id %}">Редактировать</a>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 pt-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Благодарности</h5>
                    <p class="card-text">{{ entry.gratitude }}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Достижения дня</h5>
                    <p class="card-text">{{ entry.achievements }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-1 g-4 pt-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Цели на день, что удалось, что нужно улучшить</h5>
                    <p class="card-text">{{ entry.thoughts }}</p>
                </div>
            </div>
        </div>
    </div>

</div>
<p></p>
<hr class="my-3">

{% empty %}
<p>Записей пока нет.</p>
{% endfor %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        </li>
        {% endif %}

        <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>


{% endblock %}



