{% extends 'base.html' %}
{% load static %}

{% block title %}Главная - Agile Diary{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Agile Diary</h1>
            <p class="lead my-3">Agile — это не только подход к разработке программного обеспечения, но и философия, которую можно успешно применять в повседневной жизни для
                повышения
                гибкости, эффективности и осознанности.</p>
            {% if user.is_authenticated %}
            <a href="{% url 'diary' %}" class="btn btn-success">Перейти в Мой Agile </a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-secondary me-2">Войти</a>
            <a href="{% url 'register' %}" class="btn btn-success">Зарегистрироваться</a>
            {% endif %}
        </div>
    </div>
    <p></p>

    <div class="row">
        <div class="col-lg-3">
            <img class="rounded m-3 p-2" src="{% static 'image/1.png' %}" alt="Generic placeholder image" width="140"
                 height="140">
            <h2>Определение целей и приоритетов</h2>
            <p class="lead">Например, это может быть список дел, целей или личных проектов.
                Приоритизируйте задачи, отдавая предпочтение самым важным.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <img class="rounded m-3 p-2" src="{% static 'image/2.png' %}" alt="Generic placeholder image"
                 width="140"
                 height="140">
            <h3>Работа короткими циклами</h3>
            <p class="lead">Разделите задачи на небольшие, достижимые цели и установите временные рамки для их выполнения.
                Планируйте задачи на каждую итерацию, чтобы видеть реальный прогресс.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <img class="rounded m-3 p-2" src="{% static 'image/3.png' %}" alt="Generic placeholder image" width="140"
                 height="140">
            <h3>Выполнение и отслеживание</h3>
            <p class="lead">Проводите короткие ежедневные обзоры, чтобы понять:
                Что вы уже сделали?
                Что вы планируете сделать сегодня?
                Какие препятствия мешают вам двигаться вперед?</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <img class="rounded m-3 p-2" src="{% static 'image/4.png' %}" alt="Generic placeholder image" width="140"
                 height="140">
            <h3>Обратная связь и улучшение</h3>
            <p class="lead"> Раз в неделю или по окончании итерации проводите ретроспективу:
                Что сработало хорошо?
                Что можно улучшить?
                Какие действия нужно предпринять?</p>
        </div><!-- /.col-lg-4 -->
    </div>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <p class="lead">Agile основывается на гибкости. Если планы меняются, пересматривайте приоритеты.</p>


            <p class="lead">Вы наверняка пробовали ставить себе цели на год вперед. Выдумывать миллион сверхзадач на ближайшие 12 месяцев под Новый год.</p>

            <p class="lead">Психологи и нейрофизиологи утверждают, что долгосрочное планирование почти никогда не работает. По статистике планы на год с треском проваливаются в 80%
                случаев.
                Нашему мозгу необходимо чувствовать «давление дедлайна», чтобы прекратить прокрастинацию и начать действовать. результате экспериментов самым подходящим горизонтом
                оказался 9-недельный спринт. </p>
        </div>
        <div class="col-md-5">
            <img class="rounded mx-5" src="{% static 'image/51.avif' %}" alt="Generic placeholder image" width="340"
                 height=380">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <p class="lead pt-5">Личное планирование мало чем отличается от разработки ПО, и итеративный подход со спринтами оказывается весьма кстати. </p>
            <p class="lead pt-2">Вместо того, чтобы ставить перед собой огромные
                задачи на год вперед, вы фокусируетесь на конкретных, относительно небольших задачах. В конце спринта — оцениваете результаты, делаете работу над ошибками и
                выбираете вектор движения на следующие 9 недель.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <div class="col-md-5">
                <img class="rounded" src="{% static 'image/61.avif' %}" alt="Generic placeholder image" width="340"
                     height=380">
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <p class="lead pt-3">Как пользоваться?</p>
            <p class="lead">Важно каждый день работать с системой планирования. Формат работы простой и интуитивно понятный:</p>

            <ul class="list-unstyled">
                <ul>
                    <p class="lead">— Три цели на 9-недельный спринт</p>
                    <p class="lead">— Еженедельный мониторинг прогресса</p>
                    <p class="lead">— Планирование дня</p>
                    <p class="lead">— Три приоритеные задачи дня</p>
                    <p class="lead">— Журнал достижений и благодарности</p>
                </ul>
            </ul>
        </div>
        <div class="col-md-5">
            <div class="col-md-5">
                <img class="rounded mx-5" src="{% static 'image/71.avif' %}" alt="Generic placeholder image" width="340"
                     height=380">
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center text-white rounded bg-dark">
        <div class="col-md-12 p-lg-1 my-3 ">
            <h3>Для кого? </h3>
            <p class="lead">Подойдет специалистам, менеджерам, студентам, собственникам бизнеса, руководителям и всем, кто решил достигать своих целей.</p>
            {% if user.is_authenticated %}
            <a href="{% url 'diary' %}" class="btn btn-success">Перейти в Мой Agile</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-secondary me-2">Войти</a>
            <a href="{% url 'register' %}" class="btn btn-success">Зарегистрироваться</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

